html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #002e44;
	margin: 0;
	padding: 0;
}
header {
	background-color: #fff;
	border-bottom: 5px solid #002e44;
	padding: 1em;
}
h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	color: brown;
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}
.nav-wrap {
	height: 50px;
}
nav {
	background-color: #0096bb;
	padding: 1em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	float:  none;
	display: inline-block;
	margin-right: 1em;
}
nav a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em 0.75em;
}
nav a:focus {
	outline-color: #E6DFB5;
}
nav a:hover {
	color: #002e44;
}
main {
	background-color:  #fff;
	color: #222;
	border-radius: 5px;
	width: 95%;
	margin: 2% 0 5% 2%;
	padding: 1em;
}
figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
main img {
	max-width: 250px;
}
#examples {
	display: inline-block;
}
#examples img{
	width: 150px;
}
form {
	float: left;
	max-width: 30%;
}
fieldset {
	margin-top: -1.2em;
	margin-bottom: 1em;
	margin-right: 1em;
	border: none;
	border-radius: 5px;
	background-color: #d2f6ff;
} 
legend {
	font-weight: bold;
	font-size: 1.1em;
	color: brown;
	padding-top: 1.2em;
}
label {
	display: block;
}
input:not([type="radio"]):not([type="checkbox"]) {
	display: block;
	margin-bottom: 2em;
	width: 20em;
}
.error {
	color: red;
}

#msgs {
	color: brown;
	padding-bottom: 1em;
}
#draw {
	float: right;
	width: 65%;
	margin-left: 1em;
	display: none;
}
#controls {
	float: left;
	width: 15%;
}
#controls p {
	margin-top: 0;
	text-decoration: underline;
}
#controls button {
	margin-bottom: 0.5em;
}
#addText {
	width: 90px;
}
.clear {
	clear: both;
}
canvas {
	border: 1px dotted black;
}

footer {
	position:fixed;
	bottom:0;
	right:0;
	width: 100%;
	color: #37241A;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
	background-color: #0096bb;
	color: #fff;
}
footer a {
	color: #fff;
	text-decoration: underline;
}
footer a:hover {
	color: #002e44
}
footer p {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}









